@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Fraunces 144pt";
  src: url("../assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
    format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
}

@media screen and (min-width: 576px) {
  /* HEADER */

  header {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: 24px;
    z-index: 2;
  }

  /* WRAPPER */

  .w-page-wrapper {
    display: flex;
    flex-direction: column;
    height: 3000px;
    width: 100%;
  }

  /* Main Section */

  .w-main-section {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 680px;
  }

  .w-main-section::before {
    content: "";
    background-color: #24053e;
    position: absolute;
    width: 200%;
    height: 690px;
    border-radius: 0 0 200% 200%;
  }

  .w-home-presentation {
    display: flex;
    position: relative;
    width: 343px;
    top: 26%;
    flex-direction: column;
    align-items: center;
  }

  .w-hero {
    display: block;
    position: absolute;
    top: 460px;
    width: 380px;
    height: 380px;
    z-index: 2;
  }

  .w-pattern-1 {
    display: none;
  }

  .w-pattern-2 {
    display: none;
  }

  /* SECOND SECTION  */

  .w-second-section {
    display: flex;
    position: absolute;
    top: 600px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1300px;
    z-index: -1;
  }

  .w-second-section::before {
    content: "";
    background-color: #fcf8ff;
    position: absolute;
    width: 200%;
    height: 1000px;
    border-radius: 0 0 200% 200%;
  }
  .w-second-content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 300px;
    height: 476px;
    width: 580px;
    align-items: center;
    justify-content: space-between;
  }

  .w-container {
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 108px;
  }

  .w-container-bottom {
    width: 490px;
  }

  /* THIRD SECTION */

  .w-third-section {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 1750px;
    width: 100%;
    height: 603px;
  }

  .w-third-content {
    width: 343px;
    height: 100%;
  }

  .w-founder-img {
    margin-left: 35px;
    height: 281px;
    width: 281px;
  }

  .w-box {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    bottom: 62px;
    width: 343px;
    height: 375px;
  }

  .w-box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 281px;
    height: 100%;
  }

  .w-pattern-3 {
    display: none;
  }

  /* CSS UTILITARY */

  .w-main-title {
    font-family: "Fraunces 144pt";
    font-size: 50px;
    font-weight: 600;
    text-align: center;
  }

  .w-second-title {
    font-family: "Fraunces 144pt";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
  }

  .w-third-title {
    /* Heading M */
    font-family: "Fraunces 144pt";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 64px;
  }

  .w-text {
    /* Body */
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }

  .w-circle {
    box-sizing: border-box;

    /* Davy's Grey */
    border: 1px solid #584d62;
    border-radius: 30.5px;

    width: 50px;
    height: 50px;

    text-align: center;
  }
  .w-circle-text {
    /* TEXT  */

    font-family: "Fraunces 144pt";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .w-home-presentation {
    width: 570px;
  }

  .w-pattern-1 {
    display: block;
    position: absolute;
    width: 360px;
    left: -200px;
    top: 20%;
  }

  .w-pattern-2 {
    display: block;
    position: absolute;
    right: -90px;
    top: 50%;
  }

  /* SECOND SECTION  */

  .w-second-content {
    flex-direction: column;
    justify-content: space-between;
    top: 300px;
    height: 476px;
    width: 583px;
  }

  .w-container {
    flex-direction: row;
    justify-content: space-between;
    height: 108px;
    width: 100%;
  }

  .w-container-bottom {
    width: 493px;
  }

  /* THIRD SECTION */

  .w-third-section {
    display: flex;
    justify-content: center;
    height: 526px;
    top: 1800px;
  }

  .w-third-content {
    display: block;
    width: 689px;
    height: 100%;
  }

  .w-box {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    left: 172px;
    bottom: 140px;
    width: 514px;
    height: 375px;
  }

  .w-box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 402px;
    height: 271px;
  }

  .w-pattern-3 {
    display: block;
    position: absolute;
    top: 280px;
    right: 60px;
  }
}

@media screen and (min-width: 992px) {
  /* HEADER */

  Header {
    justify-content: space-around;
  }

  /* MAIN SECTION  */

  .w-main-section {
    height: 990px;
  }

  .w-main-section::before {
    height: 890px;
  }

  .w-pattern-1 {
    
    width: 460px;
    left: -200px;
    top: 20%;
  }

  .w-pattern-2 {
   
    right: -50px;
    top: 50%;
  }

  .w-home-presentation {
    top: 22%;
    width: 635px;
  }

  .w-main-title {
    font-size: 80px;
  }

  .w-hero {
    display: block;
    position: absolute;
    top: 620px;
    width: 550px;
    height: 450px;
  }

  /* SECOND SECTION  */

  .w-second-section {
    height: 1300px;
  }

  .w-second-section::before {
    height: 1240px;
  }

  .w-second-content {
    top: 560px;
  }

  /* THIRD SECTION  */
  .w-third-section {
    top: 2000px;
  }
}

@media screen and (min-width: 1200px) {
  /* Main Section */

  

  

  /* SECOND SECTION  */

  .w-second-section {
    height: 1200px;
  }

  .w-second-content {
    display: flex;
    height: 308px;
    width: 1114px;
    position: relative;
    top: 580px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .w-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 354px;
    height: 100%;
  }

  .w-container-bottom {
    width: 354px;
  }

  /* THIRD SECTION */

  .w-third-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 640px;
    top: 2000px;
  }

  .w-third-content {
    width: 1112px;
    height: 100%;
  }

  .w-founder-img {
    height: 477px;
    width: 477px;
  }

  .w-box {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    left: 380px;
    bottom: 260px;
    width: 730px;
    height: 413px;
  }

  .w-box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 602px;
    height: 290px;
  }

  /* FOOTER  */

  footer {
    display: block;
    position: absolute;
    bottom: 0;
    height: 120px;
    width: 100%;
    background-color: gray;
  }

  /* CSS UTILITY */

  .w-second-title {
    font-size: 32px;
  }

  .w-third-title {
    font-size: 56px;
  }

  .w-text {
    font-size: 18px;
  }
}

/* CSS UTILITARY */

/* BACKGROUND  */

.w-bg-ghost-white {
  background-color: #fcf8ff;
}

.w-bg-dark-purple {
  background-color: #24053e;
}

.w-bg-curved {
  display: none;
  width: 100%;
  background-size: 200%;
  border-radius: 0 0 100% 100%;
}

/* TEXT  */

.w-text-white {
  color: #fff;
}

.w-text-dark-purple {
  color: #24053e;
}

.w-text-line {
  border-bottom: 2px solid #44ffa1;
}

/* BUTTONS  */

.w-primary-button {
  cursor: pointer;
  font-family: "Manrope";
  font-weight: 700;
  color: black;
  background-color: #44ffa1;
  padding: 20px 32px;
  border: 1px solid #44ffa1;
  transition: 0.3s;
}

.w-primary-button:active {
  background-color: transparent;
  border: 1px solid #44ffa1;
  color: #44ffa1;
  transform: scale(0.98);
}

.w-secondary-button {
  cursor: pointer;
  font-family: "Manrope";
  font-weight: 700;
  background: transparent;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;

  border: none;
  border-bottom: 2px solid #44ffa1;
  height: 40px;

  transition: 0.2s;
}

.w-secondary-button:active {
  color: #44ffa1;
}

.w-main-icon {
  cursor: pointer;
}

/* MARGIN */

.w-margin-top-16 {
  margin-top: 16px;
}

.w-margin-right-16 {
  margin-right: 16px;
}

.w-margin-bottom-16 {
  margin-bottom: 16px;
}

.w-margin-left-16 {
  margin-left: 16px;
}

.w-margin-top-28 {
  margin-top: 28px;
}

.w-margin-right-28 {
  margin-right: 28px;
}

.w-margin-bottom-28 {
  margin-bottom: 28px;
}

.w-margin-left-28 {
  margin-left: 28px;
}

.w-margin-top-50 {
  margin-top: 50px;
}

.w-margin-right-50 {
  margin-right: 50px;
}

.w-margin-bottom-50 {
  margin-bottom: 50px;
}

.w-margin-left-50 {
  margin-left: 50px;
}

.w-margin-top-80 {
  margin-top: 80px;
}

.w-margin-right-80 {
  margin-right: 80px;
}

.w-margin-bottom-80 {
  margin-bottom: 80px;
}

.w-margin-left-80 {
  margin-left: 80px;
}
